<button
  mat-icon-button
  [matMenuTriggerFor]="langMenu"
  [matTooltip]="'language.changeAriaLabel' | translate"
  [attr.aria-label]="'language.changeAriaLabel' | translate"
  aria-haspopup="menu"
  data-testid="language-switcher-btn"
>
  <mat-icon>language</mat-icon>
</button>

<mat-menu #langMenu="matMenu">
  @for (locale of locales; track locale.code) {
    <button
      mat-menu-item
      (click)="selectLocale(locale.code)"
      [attr.aria-current]="locale.code === currentLocale ? 'true' : null"
      data-testid="locale-option"
    >
      <mat-icon aria-hidden="true">{{ locale.code === currentLocale ? 'check' : '' }}</mat-icon>
      {{ locale.label }}
    </button>
  }
</mat-menu>
